<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Game review</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
{{> header user=user active=active}}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Featured</em> Games</h4>
                </div>
                <div class="owl-features owl-carousel"> 
                  {{#each featuredGames}}
                  <div class="item">
                    <div class="thumb">
                      <a href="/games/{{this._id}}">
                        <img width="183px" height="310px" src="{{this.logo}}" alt="">
                      </a>
                      <div class="hover-effect">
                        <h6>{{this.game_name}}</h6>
                      </div>
                    </div>
                    <h4>{{this.game_name}}<br><span>{{this.favorable_rate}}</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="top-downloaded">
                <div class="heading-section">
                  <h4><em>Top</em> Rated</h4>
                </div>
                <ul>
                   {{#each top3}}
                  
                  <li>
                    <img width="80px" height="80px" src="{{this.logo}}" alt="" class="templatemo-item">
                    <h4><a href="/games/{{this._id}}">{{this.game_name}}</a></h4>
                    <h6>{{this.genre.genre_name}}</h6>
                    <span><i class="fa fa-battery-full" style="color: yellow;"></i>&nbsp;&nbsp;{{this.favorable_rate}}</span>
                    <span><i class="fa fa-thumbs-up" style="color: #ec6090;"></i>&nbsp;&nbsp;{{this.review_number}}</span>
                    <div class="download">
                      <a href="#"><i class="fa fa-rocket"></i></a>
                    </div>
                  </li>
                  {{/each}}
                </ul>
                <div class="text-button">
                  <a href="profile.html">View All Games</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

          <!-- ***** Start Stream Start ***** -->
          <div class="start-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Popular</em> Games</h4>
              </div>
              <div class="row">
                {{#each gamesBelow}}
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <a href="/games/{{this._id}}">
                      <img src="{{this.logo}}" alt="" style="max-width: 200px; border-radius: 5%;">
                      </a>
                    </div>
                    <h4><a href="/games/{{this._id}}">{{this.game_name}}</a></h4>
                    <p>{{this.intro}}</p>
                  </div>
                </div>
                {{/each}}
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="/#">Browse more...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Start Stream End ***** -->

         
        </div>
      </div>
    </div>
  </div>
  
  {{> footer user}}

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="js/isotope.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>


  </body>

</html>
