<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Game review</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  
{{> header user=user}}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="{{user.avatar}}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-3 align-self-center">
                    <div class="main-info header-text">
                      <h4>{{user.username}} </h4>
                      <p>{{user.intro}}</p>
                      <div class="main-border-button">
                        {{#if user.isAdmin}}
                        <a href="/admin/dashboard">Dashboard</a>
                        {{else}}
                        <a href="/dashboard">Dashboard</a>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 align-self-center">
                    <ul>
                      <li>Username: <span>{{user.username}}</span></li>
                      <li>Email: <span>{{user.email}}</span></li>
                      <li>Profile: <span>{{user.profile}}</span></li>
                      <li>UserID: <span>{{user.userid}}</span></li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          
        </div>
      </div>
    </div>
  </div>
  
  {{> footer user=user}}
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="js/isotope.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>


  </body>

</html>
